:root {
  --jet: #333;
  --green: #1d4349;
  --red: #d00b0b;
  --orange: #ff6d00;
  --peach: #fef3ef;
}
body {
  margin: 0;
}
h1 {
  color: var(--orange);
}
ul {
  padding-left: 0;
  list-style-type: none;
}
.map {
  height: 500px;
  margin-bottom: 50px;
}

.orange {
  color: var(--orange);
  background: #333;
  padding: 0 10px;
}
.orangeHeader {
  color: var(--orange);
}
.spinner {
  text-align: center;
  margin: 50px 0;
}
.bold {
  font-weight: bold;
}
.lineThrough {
  text-decoration: line-through;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.whiteInput {
  margin: 10px 0;

  .MuiInputBase-root {
    background-color: #fff;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid #fff;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border-radius: 8px;
}
.no-image-avaliable {
  line-height: 200px;
  text-align: center;
}
.venueCards1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
  justify-content: center;
  margin: 20px;
}
@media screen and (min-width: 768px) {
}
