.header {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 20px;
  a {
    display: flex;
    flex-direction: row;
    img {
      width: 50px;
    }
  }
  a,
  a:visited {
    text-decoration: none;
    color: var(--jet);
    span {
      font-size: 40px;
    }
  }
  svg {
    color: var(--jet);
    font-size: 40px;
    margin-right: 10px;
  }
  .logoAvatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menuList {
  li {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    a,
    a:visited {
      text-decoration: none;
      color: var(--jet);
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin: 0 70px;
    .menuListButton {
      display: flex;
    }
  }
  .menuList {
    display: flex;
    justify-content: center;
    li {
      span {
        font-size: 20px;
        padding-top: 10px;
      }
    }
  }
}
