.carousel {
  max-width: 500px;
  margin: 0 auto;
  .slide {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (min-width: 768px) {
  .carousel {
    width: 600px;
  }
}
