.button {
  border: 2px solid var(--red);
  background-color: #fff;
  color: var(--red);
  border-radius: 4px;
  margin: 5px;
  padding: 10px;

  &.danger {
    background-color: var(--red);
    color: #fff;
  }
}
