.tripsContainer {
  h1,
  h2 {
    text-align: center;
  }

  .noTripsContainer {
    text-align: center;
    margin-top: 100px;
    .exploreButton {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .renderBookings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
  }
}
