.tripsContainer {
  h1,
  h2 {
    text-align: center;
  }

  .noTripsContainer {
    text-align: center;
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .renderBookings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
