.cardContainer {
  text-align: center;
  max-width: 450px;
  margin: 50px auto;
  :global {
    .MuiPaper-root.MuiCard-root {
      background-color: var(--peach);
    }
  }
  .editProfileButton {
    display: flex;
    justify-content: center;
  }
  .avatarContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  button {
    margin-bottom: 30px;
  }
}
.input {
  display: flex;

  flex-direction: column;
  width: 300px;
  margin: 10px auto;
}
