.calendar {
  margin-bottom: 20px;
  :global {
    .MuiButtonBase-root.Mui-disabled.MuiPickersDay-root {
      // color: var(--red);
    }
    .MuiPickersToolbar-root {
      padding-top: 0;
    }
  }

  .bookButton {
    width: 100%;
  }
}
