.venueCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
  justify-content: center;
  margin: 20px;

  > a {
    width: 100%;
    text-decoration: none;
  }
}
.seeMoreButton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .venueCardContainer {
    > a {
      width: 345px;
      border: 1px solid transparent;
      border-radius: 4px;
      &:hover {
        border: 1px solid var(--orange);
      }
    }
  }
}
