.tripContainer {
  margin: 20px auto;
  max-width: 500px;
  padding: 0 10px;

  .flexCheckInOut {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--peach);
    h3 {
      margin: 0;
    }
  }
  .flexMailRental {
    display: flex;
    justify-content: space-around;
    .mailCard,
    .rentalCard {
      padding: 10px;
      margin: 20px 0;
      .mail {
        display: flex;
        align-items: center;
        width: 140px;
        text-align: center;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .rentalContainer {
    .rental {
      width: 120px;
      text-align: center;
      p {
        margin-bottom: 0;
      }
    }
  }
}
.flexanselCloseTripButton {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}
