.tripContainer {
  margin: 20px auto;
  max-width: 1000px;
  padding: 0 10px;

  .flexCheckInOut {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--peach);
    h3 {
      margin: 0;
    }
  }
  .flexMailRental {
    .mailCard,
    .rentalCard {
      padding: 10px;
      margin: 20px 0;
      width: 100%;
      box-sizing: border-box;

      a {
        color: var(--orange);
        text-decoration: none;
      }
      .mail {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        .messageHost {
          text-align: center;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .cancelTripButton {
    display: flex;
    justify-content: center;
  }
  .infoCard {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;

    .tripData {
      div {
        display: grid;
        grid-template-columns: 150px 50px;
      }
    }

    div {
      width: 200px;
      margin: 0 auto;
    }
  }
  .rentalContainer {
    .rental {
      text-align: center;
      p {
        margin-bottom: 0;
      }
    }
  }
  .addressAndPrice {
    display: flex;
    justify-content: center;
  }
  .cancelTripButton {
    margin: 50px 0;
  }
}
.flexanselCloseTripButton {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .flexMailRental {
    display: flex;
    gap: 20px;
  }
}
