.ownerInformation {
  margin-bottom: 100px;

  h3 {
    margin: 0;
  }
  .card {
    background-color: var(--peach);
    padding-top: 20px;
  }
  .avatarContainer {
    display: flex;
    justify-content: center;
  }
  .mail {
    display: flex;
    justify-content: center;
    margin: 20px;
    a {
      text-decoration: none;
    }
  }
}
@media screen and (min-width: 768px) {
  // .ownerInformation {
  //   margin-bottom: 100px;

  //   h3 {
  //     margin: 0;
  //   }
  //   .card {
  //     background-color: #fff;
  //   }
  //   .avatarContainer {
  //     display: flex;
  //     justify-content: center;
  //   }
  //   .mail {
  //     display: flex;
  //     justify-content: center;
  //     margin: 20px;
  //     a {
  //       text-decoration: none;
  //     }
  //   }
  // }
}
