.formContainer {
  background-color: lightgrey;
  max-width: 600px;
  border-radius: 6px;
  margin: 0 auto;
  padding: 40px;
  .text {
    padding: 50px;
  }
  form {
    text-align: center;
    .flexAddressCity,
    .flexCountryContinents,
    .flexLatLong,
    .flexPriceGuests {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  .image {
    margin-top: 20px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
}
