.headline {
  margin: 20px auto;
  width: 90%;
  padding: 0 10px;
}
.venueContentContainer {
  width: 100%;
  .venueContent {
    padding: 0 10px;

    .introBox {
      background-color: var(--jet);
      color: var(--orange);
      padding: 10px;
      h2 {
        margin: 0;
        color: #fff;
      }
    }
    .description {
      padding: 5px;
    }

    .calendar {
      margin: 0 auto;
      width: 300px;
    }
  }
}
@media screen and (min-width: 768px) {
  .flexContent {
    display: flex;
    gap: 50px;
    margin: 50px auto;
    width: 90%;
    padding: 0 10px;
    justify-content: center;
  }
}
